/App/*
/config/kissrest
/config/kissorm
/vendor/*
/index.php
/kissGen.php
/.htaccess
/nbproject
/descriptors
/tables.ini
/composer.lock
/kissfrmw_post_install.php
/rest_post_install.php
/orm_post_install.php